.header{
    background-image: url("../img/Forma 1.png");
}
.header img{
    max-width: 100%;
}
.menu-head{
    background-color: #6498C5;
}

.menu-options{
    background-color: #00235a;
}

a{
    margin: 5px;
}
