.main-content{
    background-color: #385b9a;
    color: white;
}
body{
    background: url("../img/background.png");
    background-size: cover;
}
.p-principal{
    background: #0071a6;
    background-size: cover;
    border-top-right-radius: 30px ;
    border-bottom-right-radius: 30px;
}
.flash-rep{
    margin-top: 1rem;
}
.bloque-content{
    margin-top: 1rem;
}

.main-content .bloque-content:last-of-type{
    margin-bottom: 1rem;
}